* {
    box-sizing: border-box;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

nav {
    display: flex;
    justify-content:center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    margin: 40px;
    padding-right: 20px;
    border-bottom: 2px solid rgb(41, 15, 90);
    border-top: 2px solid rgb(41, 15, 90);
}

.profile-img{
    display: block;
    margin: 10px auto;
    max-width: 250px;
}

header {
    font-size: 30px;
    color: rgb(77, 21, 206);
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1%;
    padding: 10px;
    box-sizing: 10px
}

.article-container{
    position: absolute;
    display: inline-block;
    width: 75%;
    margin-left: 200px;
}

.article-img{
    margin-right: 50px;
    padding-top: 20px;
    float: right;
    width: 75%;
    height:250px;
    position: relative;
}

.smaller-img{
    margin-right: 50px;
    padding-top: 20px;
    float: right;
    width: 350px;
    height:250px;
    position: relative ;
}


 p{
    display: flex;
    position: absolute;
    align-self: center;
    margin-left: 250px;
    color: blue;
    font-size: 30px;
}