* {
    box-sizing: border-box;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

.header nav li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 20px;
}

header {
    font-size: 20px;
    color: rgb(206, 147, 21);
    align-self: center;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1%;
    padding: 10px;
    box-sizing: 10px
}
